.card{
  background-color:azure;
  width: 200px;
  border-radius: 4px;
  padding: 2px;
  text-align: center;
  font-family: sans-serif;
  border: 1px solid gray;
  display: inline-block;
  margin: 10px;
} 

.card img {
  width: 200px;
}